@model ForgotPasswordModel

<h3>Forgot Password</h3>

<form method="post" asp-action="ForgotPassword" asp-controller="Home">

        <div>
            <label>
                Your email address :
            </label>
            <input asp-for="Email" type="search" class="user-name" placeholder="Email" autofocus>
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <br />
        <div>
            <button class="btn btn-primary">Submit</button>
        </div>


</form>
