<center>

    <h1>
        WELCOME TO MEMBER PANEL
    </h1>

    <br />

    <h3>
        <a asp-controller="Shopping" asp-action="Index" class="btn-primary">
            Start shopping now!
        </a>
    </h3>
    <br />
    <br />
    <br />
    <iframe src="https://www.google.com/maps/embed?pb=!3m2!1str!2str!4v1719773626307!5m2!1str!2str!6m8!1m7!1sMCgV608Pzb2nO9v04GRXRA!2m2!1d40.98849241142855!2d29.02311142122848!3f347.92507812592174!4f-10.46758071862196!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</center>